<form method="post">
    <label>
        username
    </label>
    <input type="text" name="username" class="form-control" />
    <label>password</label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-warning">Enviar</button>
</form>
<h1>@ViewData["mensaje"]</h1>

